/*VARIABLE
-------------------------------------*/
/*FUNCTIONS
-------------------------------------*/
/*OVERALL
--------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: hsl(214, 17%, 92%);
  font-family: "Barlow Semi Condensed", serif;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 80px 30px;
}

/*COMMENTS
--------------------------------------*/
.comment {
  padding: 35px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 30px 50px 30px rgba(0, 0, 0, 0.15);
}
.comment .avatar-name {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}
.comment .avatar-name img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}
.comment .avatar-name h1 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 2px;
}
.comment .avatar-name h2 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
}
.comment h3 {
  font-weight: 600;
  font-size: 2rem;
}
.comment p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 0;
}

#daniel {
  background-color: hsl(263, 55%, 52%);
  color: hsl(260, 100%, 95%);
}
#daniel .avatar-name img {
  border: 2px solid hsl(264, 82%, 80%);
}

#jonathan {
  background-color: hsl(217, 19%, 35%);
  color: hsl(214, 17%, 92%);
}
#jonathan .avatar-name img {
  border: 2px solid hsl(0, 0%, 81%);
}

#jeanette {
  background-color: white;
  color: hsl(217, 19%, 35%);
}
#jeanette .avatar-name img {
  border: 2px solid hsl(214, 17%, 92%);
}

#patrick {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
}
#patrick .avatar-name img {
  border: 2px solid hsl(264, 82%, 80%);
}

#kira {
  background-color: white;
  color: hsl(217, 19%, 35%);
}
#kira .avatar-name img {
  border: 2px solid hsl(214, 17%, 92%);
}

/*FOOTER
--------------------------------------*/
.attribution {
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: hsl(217, 19%, 35%);
}
.attribution a {
  text-decoration: none;
  font-weight: 600;
  color: hsl(219, 29%, 14%);
}
.attribution a:hover {
  color: hsl(263, 55%, 52%);
}

/*MEDIA QUERIES FOR DESKTOP
--------------------------------------*/
@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    max-width: 1120px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 25px;
  }
  #daniel {
    grid-column: span 2;
  }
  #daniel .bg-decor {
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 60px;
  }
  #daniel .bg-decor img {
    width: 120px;
    height: 120px;
  }
  #daniel h3, #daniel p {
    position: relative;
    z-index: 1;
  }
  #kira {
    grid-row: span 2;
  }
  #patrick {
    grid-column: span 2;
  }
}/*# sourceMappingURL=style.css.map */